./main_project

# generated documentation
#/*/doc/*

# configuration files
# Examples/Makefile.inc

# backup files
*~

# c++ compiled
*.o
*.s
a.out
main
*.a
*.so

# makefile aux
make.dep

# simulation results
*.dat

# latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.dvi
*.ps
*.bbl
*.blg
*.gz

#pdf
*.pdf